*{
    font-family:Arial;
    font-size: 100%;
}

.search-box{
    position: absolute;
    right: 5%;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
   padding-left: 10px;
}