*{
    font-family:Arial;
    font-size: 100%;
    color: black;
}

.search-box{
    position: absolute;
    right: 5%;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
   padding: 10px;
}

.navbar-brand{
    padding-left: 10px;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  a:hover{
      color: gray;
  }
  a{
      color: black;
  }
